.sidebar {
  box-sizing: border-box;
  float: left;
  height: 100vh;
  width: 25%;
  max-width: 400px;
  min-width: 270px;
  background-color: rgb(77, 57, 75);
  color: #FAF9FA;
}

.roomlist {
  padding: 0 10px;
}

li.room {
  box-sizing: border-box;
  padding: 15px 10px 0;
  height: 3rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  border-bottom: 1px solid hsla(0, 0%, 100%, .2);
  transition: all .2ms ease;
}

li.room:hover {
  cursor: pointer;
  background-color: hsla(0, 0%, 100%, .2);
}

li.room:last-child {
  border-bottom: none;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
}